<div fxLayout="row">
  <!--  first section-->
  <div class="first-section font-poppins" fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="end start">
    <div fxLayout="column">
      <div class="connect-head">Connect With Us</div>
      <div class="text-left">Social Media Links</div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
      <img src="assets/Social%20media%20icons.png" alt="social_media">
      <div fxLayout="column" fxLayoutGap="18px">
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">Whatsapp</a>
        <a href="#">Linkedin</a>
      </div>
    </div>

  </div>
  <!--  second section-->
  <div class="second-section position-relative font-poppins" fxLayout="row" fxLayoutGap="50px">
    <div fxLayout="column" fxLayoutAlign="space-between start">
      <div fxLayout="column">
        <div class="second-menu mb-2">Menu</div>
        <div class="second-menu-list" style="color: #000000;">Home</div>
        <div class="second-menu-list">Our Plans</div>
        <div class="second-menu-list">About Us</div>
        <div class="second-menu-list">Contact Us</div>
        <div class="second-menu-list">Career</div>
      </div>
      <div fxLayout="column" fxLayoutGap="10px">
        <div class="connect-head">Address</div>
          <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutGap="10px">
              <img src="assets/location.png" alt="location" style="height: 23px;">
              <div>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. Vivamus<br> fermentum lorem</div></div>
            <div fxLayout="row" fxLayoutGap="10px">
              <img src="assets/calls.png" alt="call">
              <div>8782378193923,172397123</div></div>
            <div fxLayout="row" fxLayoutGap="10px">
              <img src="assets/mail.png" alt="mail">
              <div>Test@gmail</div></div>
          </div>
      </div>
    </div>

    <button class="login mt-4">Log In</button>

    <div class="large-text">TEXT</div>

  </div>
</div>
